<!doctype html>

<app-nav-bar></app-nav-bar>
<app-side-bar></app-side-bar>

<div class="change-password-container">
  <div class="arrow-left">
    <a
      [routerLink]="['/my-account']"
      routerLinkActive="active"
      class="back-to-account-link"
    >
      <fa-icon [icon]="faArrowLeft"></fa-icon>
      <span>Back To Your Account</span>
    </a>
  </div>
  <div class="change-password-box">
    <h2>Change your password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="showPopup()">
      <app-input-group
        label="Current Password"
        inputId="currentPassword"
        type="currentPassword"
        placeholder="Enter your current password"
        formControlName="currentPassword"
      >
      </app-input-group>
      <app-input-group
        label="New Password"
        inputId="newPassword"
        type="newPassword"
        placeholder="Enter your new password"
        formControlName="newPassword"
      >
      </app-input-group>
      <app-input-group
        label="Confirm New Password"
        inputId="confirmNewPassword"
        type="newPassword"
        placeholder="Confirm your new password"
        formControlName="confirmNewPassword"
      >
      </app-input-group>
      <app-button label="Save changes" buttonClass="button-add" type="submit">
      </app-button>
    </form>
  </div>
</div>

<app-popup
  [isVisible]="isPopupVisible"
  popupTitle="Change Password"
  message="Are you sure you want to change your password?"
  (onConfirm)="confirmPopup()"
  (onClose)="closePopup()"
>
</app-popup>
