<!doctype html>
<!-- 

<nav class="sidebar">
  <div class="top-icons">
   <a [routerLink]="['/']" routerLinkActive="active">
      <fa-icon [icon]="faHome"></fa-icon>
      <span class="tooltip">Home</span>
    </a>
    <a [routerLink]="['/']" routerLinkActive="active">
      <fa-icon [icon]="faDiagramProject"></fa-icon>
      <span class="tooltip">Projects</span>
    </a>
    <a [routerLink]="['/']" routerLinkActive="active">
      <fa-icon [icon]="faUsers"></fa-icon>
      <span class="tooltip">Teams</span>
    </a>
  </div>

  <div class="bottom-icon">
    <a [routerLink]="['/my-account']" routerLinkActive="active">
      <fa-icon [icon]="faUser"></fa-icon>
      <span class="tooltip">My Account</span>
    </a>
  </div> 
</nav> 
-->