<!doctype html>
<app-side-bar></app-side-bar>
<app-nav-bar></app-nav-bar>

<div class="create-container">
  <form class="form" [formGroup]="createUserForm" (ngSubmit)="showPopup()">
    <div class="inputs">
      <div class="header">
        <h1>Create user</h1>
      </div>
      <app-input-group
        label="First name"
        name="firstName"
        inputId="firstName"
        type="firstName"
        placeholder="Enter user first name"
        formControlName="firstName"
      >
      </app-input-group>
      <app-input-group
        label="Last name"
        name="lastName"
        inputId="lastName"
        type="lastName"
        placeholder="Enter user last name"
        formControlName="lastName"
      >
      </app-input-group>

      <app-input-group
        label="Email"
        name="email"
        inputId="email"
        type="email"
        placeholder="Enter user email address"
        formControlName="email"
      >
      </app-input-group>

      <app-input-group
        label="Password"
        name="password"
        inputId="password"
        type="password"
        placeholder="Enter password for new user"
        formControlName="password"
      >
      </app-input-group>
      <app-input-group
        label="Repeat Password"
        name="repeat-password"
        inputId="repeat-password"
        type="repeat-password"
        placeholder="Repeat password for new user"
        formControlName="repeatPassword"
      >
      </app-input-group>

      <app-dropdown
        label="Role"
        [options]="roles"
        dropdownId="roleDropdown"
        [idKey]="'id'"
        [nameKey]="'name'"
        formControlName="roleId"
      >
      </app-dropdown>
    </div>

    <div class="buttons">
      <app-button
        label="Cancel"
        buttonClass="button-delete"
        (click)="navigateToAdminPanel()"
      >
      </app-button>
      <app-button label="Save" buttonClass="button-add" type="submit">
      </app-button>
    </div>
  </form>
</div>

<app-popup
  [isVisible]="isPopupVisible"
  popupTitle="Create new user"
  message="Are you sure you want to create a new user?"
  (onConfirm)="confirmPopup()"
  (onClose)="closePopup()"
>
</app-popup>
