<!doctype html>

<app-nav-bar [showLogoutButton]="false"></app-nav-bar>

<div class="login-container">
  <div class="login-box">
    <h2>GelatoFlow</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <app-input-group
        label="Email"
        name="email"
        inputId="email"
        type="email"
        placeholder="Enter your email address"
        formControlName="email"
      >
      </app-input-group>
      <app-input-group
        label="Password"
        name="password"
        inputId="password"
        type="password"
        placeholder="Enter your password"
        formControlName="password"
      >
      </app-input-group>
      <app-button label="Sign In" buttonClass="button"> </app-button>
      <div *ngIf="loginMessage" class="login-message">
        {{ loginMessage }}
      </div>
    </form>
    <a href="/reset-password" class="forgot-password">Forgot password?</a>
  </div>
</div>
